{{outlet}}

{{#unless isEditing}}
<article id="lead">
  <h1>
    {{fullName}}
    {{#link-to 'lead.edit' model classNames='edit'}}Edit{{/link-to}}
  </h1>

  <p>Name: {{fullName}}</p>
  <p>Email: {{email}}</p>
  <p>Phone: {{phone}}</p>
  <p>
    <label for="">Status:</label>
    {{view Ember.Select content=App.Lead.STATUSES value=model.status}}
  </p>
  <p>
    <label for="">Notes:</label>
    {{view Ember.TextArea value=model.notes}}
  </p>

  <p><a href="#" class="delete" {{action "delete"}}>Delete</a></p>
  <p><button class="submit" {{action "saveChanges"}}>Save Changes</button></p>

  {{#if showUnsavedMessage}}
    <div class="unsaved">unsaved changes</div>
  {{/if}}

  {{#if isSaving}}
    <div class="saving">saving...</div>
  {{/if}}
</article>
{{/unless}}
